.home-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.intro {
    margin-bottom: 30px;
}

.intro h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.intro p {
    font-size: 1.2em;
    line-height: 1.5;
}

.testimonials h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.testimonial {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.testimonial p {
    margin: 5px 0;
}

.testimonial strong {
    display: block;
    font-weight: bold;
}
