

/* Container for the profile view */
.profile-container {
  max-width: 600px;
  width: 100%;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center; /* Center align text inside the container */
  position: relative; /* Positioning context for the overlay */
}

/* Header styling */
.profile-container h1 {
  color: #002e5d; /* Very dark blue color */
  margin-bottom: 20px;
}

/* Style inputs */
.form-group input {
  width: 100%;
  padding: 12px; /* Increase padding inside input */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 30px;
  box-sizing: border-box; /* Ensure padding is included in width */
}

/* Form styling for editing profile */
.profile-container form {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Increased gap between form elements */
  margin-bottom: 20px;
  background-color: #f9f9f9; /* Light background for the form */
  padding: 20px;
  border-radius: 10px; /* Rounded corners for the form */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow for the form */
}

.profile-container label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #002e5d; /* Very dark blue color */
}

.profile-container input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.profile-container input:focus {
  border-color: #4CAF50; /* Green border on focus */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.2); /* Green shadow on focus */
}

/* Buttons styling */
.profile-container button {
  padding: 14px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin: 10px 0;
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Edit Profile button */
.edit-profile-button {
  background-color: #4CAF50; /* Green */
  padding: 14px 24px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin: 10px 0;
}

.edit-profile-button:hover {
  background-color: #45a049; /* Darker green */
  transform: translateY(-2px); /* Slight lift effect on hover */
}

/* Cancel button */
.cancel-button {
  background-color: #f44336; /* Red */
  padding: 14px 24px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin: 10px 0;
}

.cancel-button:hover {
  background-color: #e53935; /* Darker red */
  transform: translateY(-2px); /* Slight lift effect on hover */
}

.delete-account-button {
  background-color: #f44336; /* Red */
    padding: 14px 24px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin: 10px 0;
}

.delete-account-button:hover {
  background-color: #e53935; /* Darker red */
  transform: translateY(-2px); /* Slight lift effect on hover */
}

.logout-button {
  background-color: #2196F3; /* Blue */
    padding: 14px 24px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin-left: 30px;
}

.logout-button:hover {
  background-color: #1976D2; /* Darker blue */
  transform: translateY(-2px); /* Slight lift effect on hover */
}

/* Error and loading message styling */
.error-message, .loading-message {
  font-size: 18px;
  color: #002e5d; /* Very dark blue color */
}

.loading-message {
  color: #2196F3; /* Blue color */
}


/* Save Changes button */
.edit-profile-button {
  background-color: #4CAF50; /* Green */
  padding: 14px 24px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin: 10px 0;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

.edit-profile-button:hover {
  background-color: #45a049; /* Darker green */
  transform: translateY(-2px); /* Slight lift effect on hover */
}

/* Cancel button */
.cancel-button {
  background-color: #f44336; /* Red */
  padding: 14px 24px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin: 10px 0;
}

.cancel-button:hover {
  background-color: #e53935; /* Darker red */
  transform: translateY(-2px); /* Slight lift effect on hover */
}

/* Form styling for editing profile */
.profile-container form {
  display: flex;
  flex-direction: column;
  gap: 30px; /* Spacing between form elements */
  background-color: #f9f9f9; /* Light background for the form */
  padding: 20px;
  margin: 20px;
  border-radius: 10px; /* Rounded corners for the form */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow for the form */
}

/* Label styling */
.profile-container label {
  display: block; /* Ensure labels are on their own line */
  font-weight: bold;
  color: #002e5d; /* Very dark blue color */
  margin-bottom: 5px; /* Spacing between label and input */
}

/* Input field styling */
.profile-container input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Input focus styling */
.profile-container input:focus {
  border-color: #4CAF50; /* Green border on focus */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.2); /* Green shadow on focus */
}
