#navbar1 {
	background-color: #FFEABB;
}

#navbar2 {
	background-color: #0CB1B1;
	padding: 0.5vw;
}

#navbar3 {
	background-color: #0FE1E1;
	padding: 0.5vw;
}

#profile {
	margin-right: 3vw;
}

#navbar4 { 
	background-color: #043636; 
	padding: 1vw; display: flex; 
	justify-content: flex-end; 
	align-items: center; 
}


#logo {
	max-height: 10vw;
	padding: 25px;
	margin-left: 3vw;
}

.navlink {
	color: #FFEABB;
	padding: 10px;
	text-decoration: none;
	font-family: 'Blippo', sans-serif;
	font-style: normal;
	font-stretch: semi-condensed;
    font-weight: 900;
    font-variant: small-caps;

}

.navlink:hover {
	color: white;
}
