/* src/Views/RegisterView.css */
.register-view {
  font-family: Arial, sans-serif;
}

.register-container {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
}

form div {
  margin-bottom: 1rem;
}
