.babysitter-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns of equal width */
    gap: 40px; /* Adjust the spacing between the cards */
    padding: 20px;
}

.babysitter-card {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.profile-icon {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    border-radius: 50%; /* Make the image round */
    object-fit: cover;
    margin-bottom: 10px;
}

.babysitter-info {
    font-size: 14px;
    color: #333;
}

/* Search.css */

/*.babysitter-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

/*.babysitter-card {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 30%; 
}
*/
.booking-form {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.booking-form label {
    display: block;
    margin-bottom: 10px;
}

.booking-form button {
    margin-top: 10px;
}
